input[type="date"]::before {
  content: attr(placeholder);
  position: absolute;
  color: #000;
}

input[type="date"] {
  color: #ffffff;
}

input[type="date"]:focus,
input[type="date"]:valid {
  color: #000;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "";
}
